fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
pydantic==2.4.2
python-dotenv==1.0.0
--extra-index-url https://download.pytorch.org/whl/cu118
requests
httpx
tos-sdk==2.7.3

basicsr>=1.4.2
numpy
opencv-python
Pillow
torch>=1.7
torchvision
tqdm